.head{
	position: absolute;
	left:0;
	right:0;
	top:5%;
	background-image:url("../images/road_pattern.png");
	background-repeat:repeat-x;
	height:100px;
}
.foot{
	position: absolute;
	top:80%;
	background-image:url("../images/road_pattern.png");
	background-repeat:repeat-x;
	height:100px;
	left:0;
	right:0;
}
#Link{
	position: absolute;
	top:50%;
	left:50%;
}
.violation{
	position: relative;
	top:-170px;
	left:-47px;
	opacity: 0.5;
	-webkit-transition-duration: 0.4s;
}
.violation:hover{
	opacity: 1;
}
.roadfee{
	position: relative;
	top:-162px;
	left:-47px;
	opacity: 0.5;
	-webkit-transition-duration: 0.4s;
}
.roadfee:hover{
	opacity: 1;
}
.track{
	position: relative;
	top:-154px;
	left:-47px;
	opacity: 0.5;
	-webkit-transition-duration: 0.4s;
}
.track:hover{
	opacity: 1;
}
body{
	background-image: url("../images/index_background.png");
	background-repeat: no-repeat;	
}
#outFrame{
	position:  absolute;
	top:50%;
	left:50%;
}
#frame{
	position: relative;
	top:-200px;
	left:-156px;
}